$tablet-size: 768px;

$lv-label-color: #626272;
$lv-separator-color: #ADB3B9;
$lv-box-shadow: rgba(98,98,114,0.21);

#filter-container {
  box-shadow: 0 -1px 3px 0 rgba(black,0.11), 0 2px 3px 0 $lv-box-shadow;

  .level, .level-left {
    .level-item {
      position: relative;

      .headline {
        color: $lv-label-color;
        font-weight: 700;
        margin-bottom: 2px;
      }

      .headline-big {
        color: $lv-label-color;
        font-size: 16px;
        font-weight: 700;
      }

      .headline-bigest {
        color: $lv-label-color;
        font-size: 24px;
        font-weight: 700;
      }

      &:before {
        content: " ";
        position: absolute;
        left: 0;
        background: rgba($lv-separator-color, 0.2);
        width: 1px;
        height: 100%;
      }

      &:first-child:before { display: none; }
    }
  }

  @media (min-width: $tablet-size) {
    box-shadow: none;
  }
}

#alter-filter-container {
  display: none;
  padding-top: 0;
  padding-bottom: 0;
  background: transparent;
  border: none;
}

.box-wrapper {
  width: 100%;

  @media (min-width: $tablet-size) {
    width: auto;
  }
}

